{% extends 'base.html' %} 
{% load static %}
{% load allauth %}
{% load allauth account %}
{% load i18n %}

{% block content %}
<div class="flex items-center justify-center my-8 lg:my-32 mx-4">
    <div class="w-full max-w-md p-8 rounded shadow-2xl shadow-slate-400">
        <div>
            <h2 class="text-3xl text-green-600 font-extrabold text-center">
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
            </h2>
            <p class="mt-2 text-sm text-center text-gray-600">
                {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        </div>
        <form method="post" class="mt-8 space-y-4">
            {% csrf_token %}
            <div>
                <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent border-solid rounded-md group hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="w-5 h-5 text-green-500 group-hover:text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
                        </svg>
                    </span>
                    {% trans "Continue" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}