{% extends 'base.html' %} 
{% load static %}
{% load allauth %}
{% load allauth account %}
{% block content %}
    <div class="flex items-center justify-center my-8 lg:my-16 mx-4">
        <div class="w-full max-w-md p-8 rounded shadow-2xl bg-white">
            <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
                Set Password
            </h2>
            {% url 'account_set_password' as action_url %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="mt-4">
                        {% element fields form=form %}
                    </div>
                {% endslot %}
                {% slot actions %}
                    <button type="submit" class="btn-primary">
                        Set Password
                    </button>
                {% endslot %}
            {% endelement %}
        </div>
    </div>
{% endblock content %}
